/**
 * Marketcheck Cars API
 * <b>Access the New, Used and Certified cars inventories for all Car Dealers in US.</b> <br/>The data is sourced from online listings by over 44,000 Car dealers in US. At any time, there are about 6.2M searchable listings (about 1.9M unique VINs) for Used & Certified cars and about 6.6M (about 3.9M unique VINs) New Car listings from all over US. We use this API at the back for our website <a href='https://www.marketcheck.com' target='_blank'>www.marketcheck.com</a> and our Android and iOS mobile apps too.<br/><h5> Few useful links : </h5><ul><li>A quick view of the API and the use cases is depicated <a href='https://portals.marketcheck.com/mcapi/' target='_blank'>here</a></li><li>The Postman collection with various usages of the API is shared here https://www.getpostman.com/collections/2752684ff636cdd7bac2</li></ul>
 *
 * OpenAPI spec version: 1.0.3
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiInvoker;
import io.swagger.client.ApiException;
import io.swagger.client.Pair;

import io.swagger.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import io.swagger.client.model.Error;
import io.swagger.client.model.Listing;
import io.swagger.client.model.ListingExtraAttributes;
import io.swagger.client.model.ListingMedia;
import io.swagger.client.model.ListingVDP;
import io.swagger.client.model.SearchResponse;
import io.swagger.client.model.VinReport;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class ListingsApi {
  String basePath = "https://marketcheck-prod.apigee.net/v1";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Listing by id
  * Get a particular listing by its id
   * @param id Listing id to get all the listing attributes
   * @param apiKey The API Authentication Key. Mandatory with all API calls.
   * @return Listing
  */
  public Listing getListing (String id, String apiKey) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'id' is set
    if (id == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'id' when calling getListing",
        new ApiException(400, "Missing the required parameter 'id' when calling getListing"));
    }

    // create path and map variables
    String path = "/listing/{id}".replaceAll("\\{" + "id" + "\\}", apiInvoker.escapeString(id.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "api_key", apiKey));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (Listing) ApiInvoker.deserialize(localVarResponse, "", Listing.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Listing by id
   * Get a particular listing by its id
   * @param id Listing id to get all the listing attributes   * @param apiKey The API Authentication Key. Mandatory with all API calls.
  */
  public void getListing (String id, String apiKey, final Response.Listener<Listing> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'id' is set
    if (id == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'id' when calling getListing",
        new ApiException(400, "Missing the required parameter 'id' when calling getListing"));
    }

    // create path and map variables
    String path = "/listing/{id}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "id" + "\\}", apiInvoker.escapeString(id.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "api_key", apiKey));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((Listing) ApiInvoker.deserialize(localVarResponse,  "", Listing.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Long text Listings attributes for Listing with the given id
  * Get listing options, features, seller comments
   * @param id Listing id to get all the long text listing attributes
   * @param apiKey The API Authentication Key. Mandatory with all API calls.
   * @return ListingExtraAttributes
  */
  public ListingExtraAttributes getListingExtra (String id, String apiKey) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'id' is set
    if (id == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'id' when calling getListingExtra",
        new ApiException(400, "Missing the required parameter 'id' when calling getListingExtra"));
    }

    // create path and map variables
    String path = "/listing/{id}/extra".replaceAll("\\{" + "id" + "\\}", apiInvoker.escapeString(id.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "api_key", apiKey));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (ListingExtraAttributes) ApiInvoker.deserialize(localVarResponse, "", ListingExtraAttributes.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Long text Listings attributes for Listing with the given id
   * Get listing options, features, seller comments
   * @param id Listing id to get all the long text listing attributes   * @param apiKey The API Authentication Key. Mandatory with all API calls.
  */
  public void getListingExtra (String id, String apiKey, final Response.Listener<ListingExtraAttributes> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'id' is set
    if (id == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'id' when calling getListingExtra",
        new ApiException(400, "Missing the required parameter 'id' when calling getListingExtra"));
    }

    // create path and map variables
    String path = "/listing/{id}/extra".replaceAll("\\{format\\}","json").replaceAll("\\{" + "id" + "\\}", apiInvoker.escapeString(id.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "api_key", apiKey));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((ListingExtraAttributes) ApiInvoker.deserialize(localVarResponse,  "", ListingExtraAttributes.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Listing media by id
  * Get listing media (photo, photos) by id
   * @param id Listing id to get all the listing attributes
   * @param apiKey The API Authentication Key. Mandatory with all API calls.
   * @return ListingMedia
  */
  public ListingMedia getListingMedia (String id, String apiKey) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'id' is set
    if (id == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'id' when calling getListingMedia",
        new ApiException(400, "Missing the required parameter 'id' when calling getListingMedia"));
    }

    // create path and map variables
    String path = "/listing/{id}/media".replaceAll("\\{" + "id" + "\\}", apiInvoker.escapeString(id.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "api_key", apiKey));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (ListingMedia) ApiInvoker.deserialize(localVarResponse, "", ListingMedia.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Listing media by id
   * Get listing media (photo, photos) by id
   * @param id Listing id to get all the listing attributes   * @param apiKey The API Authentication Key. Mandatory with all API calls.
  */
  public void getListingMedia (String id, String apiKey, final Response.Listener<ListingMedia> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'id' is set
    if (id == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'id' when calling getListingMedia",
        new ApiException(400, "Missing the required parameter 'id' when calling getListingMedia"));
    }

    // create path and map variables
    String path = "/listing/{id}/media".replaceAll("\\{format\\}","json").replaceAll("\\{" + "id" + "\\}", apiInvoker.escapeString(id.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "api_key", apiKey));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((ListingMedia) ApiInvoker.deserialize(localVarResponse,  "", ListingMedia.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get listing HTML
  * Cached HTML of the Vehicle Details Page (VDP) for the listing. The HTML is cached only for 7 days for all listings. So this API could be used to get HTML of mostly active listings and that have recently expired
   * @param id Listing id to get the vehicle details page (VDP) HTML
   * @param apiKey The API Authentication Key. Mandatory with all API calls.
   * @param html Get only HTML for given listings VDP page
   * @return ListingVDP
  */
  public ListingVDP getListingVDP (String id, String apiKey, String html) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'id' is set
    if (id == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'id' when calling getListingVDP",
        new ApiException(400, "Missing the required parameter 'id' when calling getListingVDP"));
    }

    // create path and map variables
    String path = "/listing/{id}/vdp".replaceAll("\\{" + "id" + "\\}", apiInvoker.escapeString(id.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "api_key", apiKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "html", html));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (ListingVDP) ApiInvoker.deserialize(localVarResponse, "", ListingVDP.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get listing HTML
   * Cached HTML of the Vehicle Details Page (VDP) for the listing. The HTML is cached only for 7 days for all listings. So this API could be used to get HTML of mostly active listings and that have recently expired
   * @param id Listing id to get the vehicle details page (VDP) HTML   * @param apiKey The API Authentication Key. Mandatory with all API calls.   * @param html Get only HTML for given listings VDP page
  */
  public void getListingVDP (String id, String apiKey, String html, final Response.Listener<ListingVDP> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'id' is set
    if (id == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'id' when calling getListingVDP",
        new ApiException(400, "Missing the required parameter 'id' when calling getListingVDP"));
    }

    // create path and map variables
    String path = "/listing/{id}/vdp".replaceAll("\\{format\\}","json").replaceAll("\\{" + "id" + "\\}", apiInvoker.escapeString(id.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "api_key", apiKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "html", html));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((ListingVDP) ApiInvoker.deserialize(localVarResponse,  "", ListingVDP.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get Summary Report
  * [MOCK] Generate Summary report
   * @param vin VIN as a reference to the type of car for which Summary data is to be returned
   * @param apiKey The API Authentication Key. Mandatory with all API calls.
   * @return List<VinReport>
  */
  public List<VinReport> getSummaryReport (String vin, String apiKey) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'vin' is set
    if (vin == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'vin' when calling getSummaryReport",
        new ApiException(400, "Missing the required parameter 'vin' when calling getSummaryReport"));
    }

    // create path and map variables
    String path = "/vin_report_summary";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "api_key", apiKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "vin", vin));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<VinReport>) ApiInvoker.deserialize(localVarResponse, "array", VinReport.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get Summary Report
   * [MOCK] Generate Summary report
   * @param vin VIN as a reference to the type of car for which Summary data is to be returned   * @param apiKey The API Authentication Key. Mandatory with all API calls.
  */
  public void getSummaryReport (String vin, String apiKey, final Response.Listener<List<VinReport>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'vin' is set
    if (vin == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'vin' when calling getSummaryReport",
        new ApiException(400, "Missing the required parameter 'vin' when calling getSummaryReport"));
    }

    // create path and map variables
    String path = "/vin_report_summary".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "api_key", apiKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "vin", vin));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<VinReport>) ApiInvoker.deserialize(localVarResponse,  "array", VinReport.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Gets active car listings for the given search criteria
  * This endpoint is the meat of the API and serves many purposes. This API produces a list of currently active cars from the market for the given search criteria. The API results are limited to allow pagination upto 1000 rows.   The search API facilitates the following use cases -  1. Search Cars around a given geo-point within a given radius  2. Search cars for a specific year / make / model or combination of these  3. Search cars matching multiple year, make, model combinatins in the same search request 4. Filter results by most car specification attributes 5. Search for similar cars by VIN or Taxonomy VIN  6. Filter cars within a given price / miles / days on market (dom) range 7. Specify a sort order for the results on price / miles / dom / listed date  8. Search cars for a given City / State combination  9. Get Facets to build the search drill downs  10. Get Market averages for price/miles/dom/msrp for your search
   * @param apiKey The API Authentication Key. Mandatory with all API calls.
   * @param latitude Latitude component of location
   * @param longitude Longitude component of location
   * @param radius Radius around the search location
   * @param carType Car type. Allowed values are - new / used / certified
   * @param sellerType Seller type to filter cars on. Valid filter values are those that our Search facets API returns for unique seller types. You can pass in multiple seller type values comma separated.
   * @param year Car year - 1980 onwards. Valid filter values are those that our Search facets API returns for unique years. You can pass in multiple year values comma separated.
   * @param make Car Make - should be a standard OEM Make name. Valid filter values are those that our Search facets API returns for unique make. You can pass in multiple make values separated by comma. e.g. ford,audi
   * @param model Car model to search. Valid filter values are those that our Search facets API returns for unique model. You can pass in multiple model values comma separated for e.g f-150,Mustang.
   * @param trim Car trim to search. Valid filter values are those that our Search facets API returns for unique trim. You can pass in multiple trim values comma separated
   * @param dealerId Dealer id to filter the cars.
   * @param vin Car vin to search
   * @param source Source to search cars. Valid filter values are those that our Search facets API returns for unique source. You can pass in multiple source values comma separated
   * @param bodyType Body type to filter the cars on. Valid filter values are those that our Search facets API returns for unique body types. You can pass in multiple body types comma separated.
   * @param bodySubtype Body subtype to filter the cars on. Valid filter values are those that our Search facets API returns for unique body subtypes. You can pass in multiple body subtype values comma separated
   * @param vehicleType Vehicle type to filter the cars on. Valid filter values are those that our Search facets API returns for unique vehicle types. You can pass in multiple vehicle type values comma separated
   * @param vins Comma separated list of 17 digit vins to search the matching cars for. Only 10 VINs allowed per request. If the request contains more than 10 VINs the first 10 VINs will be considered. Could be used as a More Like This or Similar Vehicles search for the given VINs. Ths vins parameter is an alternative to taxonomy_vins or ymmt parameters available with the search API. vins and taxonomy_vins parameters could be used to filter our cars with the exact build represented by the vins or taxonomy_vins whereas ymmt is a top level filter that does not filter cars by the build attributes like doors, drivetrain, cylinders, body type, body subtype, vehicle type etc
   * @param taxonomyVins Comma separated list of 10 letters excert from the 17 letter VIN. The 10 letters to be picked up from the 17 letter VIN are - first 8 letters and the 10th and 11th letter. E.g. For a VIN - 1FTFW1EF3EKE57182 the taxonomy vin would be - 1FTFW1EFEK  A taxonomy VIN identified a build of a car and could be used to filter our cars of a particular build. This is an alternative to the vin or ymmt parameters to the search API.
   * @param ymmt Comma separated list of Year, Make, Model, Trim combinations. Each combination needs to have the year,make,model, trim values separated by a pipe &#39;|&#39; character in the form year|make|model|trim. e.g. 2010|Audi|A5,2014|Nissan|Sentra|S 6MT,|Honda|City|   You could just provide strings of the form - &#39;year|make||&#39; or &#39;year|make|model&#39; or &#39;|make|model|&#39; combinations. Individual year / make / model filters provied with the API calls will take precedence over the Year, Make, Model, Trim combinations. The Make, Model, Trim values must be valid values as per the Marketcheck Vin Decoder. If you are using a separate vin decoder then look at using the &#39;vins&#39; or &#39;taxonomy_vins&#39; parameter to the search api instead the year|make|model|trim combinations.
   * @param match Comma separated list of Year, Make, Model, Trim fields. For example - year,make,model,trim fields for which user wants to do an exact match
   * @param cylinders Cylinders to filter the cars on. Valid filter values are those that our Search facets API returns for unique cylinder values. You can pass in multiple cylinder values comma separated
   * @param transmission Transmission to filter the cars on. [a &#x3D; Automatic, m &#x3D; Manual]. Valid filter values are those that our Search facets API returns for unique transmission. You can pass in multiple transmission values comma separated
   * @param speeds Speeds to filter the cars on. Valid filter values are those that our Search facets API returns for unique speeds. You can pass in multiple speeds values comma separated
   * @param doors Doors to filter the cars on. Valid filter values are those that our Search facets API returns for unique doors. You can pass in multiple doors values comma separated
   * @param drivetrain Drivetrain to filter the cars on. Valid filter values are those that our Search facets API returns for unique drivetrains. You can pass in multiple drivetrain values comma separated
   * @param exteriorColor Exterior color to match. Valid filter values are those that our Search facets API returns for unique exterior colors. You can pass in multiple exterior color values comma separated
   * @param interiorColor Interior color to match. Valid filter values are those that our Search facets API returns for unique interior colors. You can pass in multiple interior color values comma separated
   * @param engine Filter listings on engine
   * @param engineType Engine Type to match. Valid filter values are those that our Search facets API returns for unique engine types. You can pass in multiple engine type values comma separated
   * @param engineAspiration Engine Aspiration to match. Valid filter values are those that our Search facets API returns for unique Engine Aspirations. You can pass in multiple Engine aspirations values comma separated
   * @param engineBlock Engine Block to match. Valid filter values are those that our Search facets API returns for unique Engine Block. You can pass in multiple Engine Block values comma separated
   * @param milesRange Miles range to filter cars with miles in the given range. Range to be given in the format - min-max e.g. 1000-5000
   * @param priceRange Price range to filter cars with the price in the range given. Range to be given in the format - min-max e.g. 1000-5000
   * @param domRange Days on Market range to filter cars with the DOM within the given range. Range to be given in the format - min-max e.g. 10-50
   * @param sortBy Sort by field - allowed fields are distance|price|miles|dom|age|posted_at|year. Default sort field is distance from the given point
   * @param sortOrder Sort order - asc or desc. Default sort order is distance from a point.
   * @param rows Number of results to return. Default is 10. Max is 50
   * @param start Page number to fetch the results for the given criteria. Default is 1. Pagination is allowed only till first 1000 results for the search and sort criteria. The page value can be only between 1 to 1000/rows
   * @param facets The comma separated list of fields for which facets are requested. Supported fields are - year, make, model, trim, vehicle_type, car_type, body_type, body_subtype, drivetrain, cylinders, transmission, exterior_color, interior_color, doors, engine_type, engine_aspiration, engine_block. Facets could be requested in addition to the listings for the search. Please note - The API calls with lots of facet fields may take longer to respond.
   * @param stats The list of fields for which stats need to be generated based on the matching listings for the search criteria. Allowed fields are - price, miles, msrp, dom The stats consists of mean, max, average and count of listings based on which the stats are calculated for the field. Stats could be requested in addition to the listings for the search. Please note - The API calls with the stats fields may take longer to respond.
   * @param country Filter on Country, by default US. Search available on US (United States) and CA (Canada)
   * @param plot If plot has value true results in around 25k coordinates with limited fields to plot respective graph
   * @param nodedup If nodedup is set to true then will give results using is_searchable
   * @param state Filter listsings on State
   * @param city Filter listings on city
   * @param dealerName Filter listings on dealer_name
   * @param trimO Filter listings on web scraped trim
   * @param trimR Filter trim on custom possible matches
   * @param domActiveRange Active Days on Market range to filter cars with the DOM within the given range. Range to be given in the format - min-max e.g. 10-50
   * @param dom180Range Last 180 Days on Market range to filter cars with the DOM within the given range. Range to be given in the format - min-max e.g. 10-50
   * @param options Tokenizer search on options for multiple options use | as seperator
   * @param features Tokenizer search on features for multiple options use | as seperator
   * @return SearchResponse
  */
  public SearchResponse search (String apiKey, Double latitude, Double longitude, Integer radius, String carType, String sellerType, String year, String make, String model, String trim, String dealerId, String vin, String source, String bodyType, String bodySubtype, String vehicleType, String vins, String taxonomyVins, String ymmt, String match, String cylinders, String transmission, String speeds, String doors, String drivetrain, String exteriorColor, String interiorColor, String engine, String engineType, String engineAspiration, String engineBlock, String milesRange, String priceRange, String domRange, String sortBy, String sortOrder, Integer rows, Integer start, String facets, String stats, String country, String plot, String nodedup, String state, String city, String dealerName, String trimO, String trimR, String domActiveRange, String dom180Range, String options, String features) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;

    // create path and map variables
    String path = "/search";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "api_key", apiKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "radius", radius));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "car_type", carType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "seller_type", sellerType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "year", year));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "make", make));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "model", model));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "trim", trim));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "dealer_id", dealerId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "vin", vin));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "source", source));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "body_type", bodyType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "body_subtype", bodySubtype));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "vehicle_type", vehicleType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "vins", vins));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "taxonomy_vins", taxonomyVins));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ymmt", ymmt));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "match", match));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "cylinders", cylinders));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "transmission", transmission));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "speeds", speeds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "doors", doors));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "drivetrain", drivetrain));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "exterior_color", exteriorColor));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "interior_color", interiorColor));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "engine", engine));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "engine_type", engineType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "engine_aspiration", engineAspiration));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "engine_block", engineBlock));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "miles_range", milesRange));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "price_range", priceRange));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "dom_range", domRange));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sort_by", sortBy));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sort_order", sortOrder));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "rows", rows));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "facets", facets));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "stats", stats));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "country", country));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "plot", plot));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "nodedup", nodedup));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "state", state));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "city", city));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "dealer_name", dealerName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "trim_o", trimO));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "trim_r", trimR));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "dom_active_range", domActiveRange));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "dom_180_range", dom180Range));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "options", options));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "features", features));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SearchResponse) ApiInvoker.deserialize(localVarResponse, "", SearchResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Gets active car listings for the given search criteria
   * This endpoint is the meat of the API and serves many purposes. This API produces a list of currently active cars from the market for the given search criteria. The API results are limited to allow pagination upto 1000 rows.   The search API facilitates the following use cases -  1. Search Cars around a given geo-point within a given radius  2. Search cars for a specific year / make / model or combination of these  3. Search cars matching multiple year, make, model combinatins in the same search request 4. Filter results by most car specification attributes 5. Search for similar cars by VIN or Taxonomy VIN  6. Filter cars within a given price / miles / days on market (dom) range 7. Specify a sort order for the results on price / miles / dom / listed date  8. Search cars for a given City / State combination  9. Get Facets to build the search drill downs  10. Get Market averages for price/miles/dom/msrp for your search
   * @param apiKey The API Authentication Key. Mandatory with all API calls.   * @param latitude Latitude component of location   * @param longitude Longitude component of location   * @param radius Radius around the search location   * @param carType Car type. Allowed values are - new / used / certified   * @param sellerType Seller type to filter cars on. Valid filter values are those that our Search facets API returns for unique seller types. You can pass in multiple seller type values comma separated.   * @param year Car year - 1980 onwards. Valid filter values are those that our Search facets API returns for unique years. You can pass in multiple year values comma separated.   * @param make Car Make - should be a standard OEM Make name. Valid filter values are those that our Search facets API returns for unique make. You can pass in multiple make values separated by comma. e.g. ford,audi   * @param model Car model to search. Valid filter values are those that our Search facets API returns for unique model. You can pass in multiple model values comma separated for e.g f-150,Mustang.   * @param trim Car trim to search. Valid filter values are those that our Search facets API returns for unique trim. You can pass in multiple trim values comma separated   * @param dealerId Dealer id to filter the cars.   * @param vin Car vin to search   * @param source Source to search cars. Valid filter values are those that our Search facets API returns for unique source. You can pass in multiple source values comma separated   * @param bodyType Body type to filter the cars on. Valid filter values are those that our Search facets API returns for unique body types. You can pass in multiple body types comma separated.   * @param bodySubtype Body subtype to filter the cars on. Valid filter values are those that our Search facets API returns for unique body subtypes. You can pass in multiple body subtype values comma separated   * @param vehicleType Vehicle type to filter the cars on. Valid filter values are those that our Search facets API returns for unique vehicle types. You can pass in multiple vehicle type values comma separated   * @param vins Comma separated list of 17 digit vins to search the matching cars for. Only 10 VINs allowed per request. If the request contains more than 10 VINs the first 10 VINs will be considered. Could be used as a More Like This or Similar Vehicles search for the given VINs. Ths vins parameter is an alternative to taxonomy_vins or ymmt parameters available with the search API. vins and taxonomy_vins parameters could be used to filter our cars with the exact build represented by the vins or taxonomy_vins whereas ymmt is a top level filter that does not filter cars by the build attributes like doors, drivetrain, cylinders, body type, body subtype, vehicle type etc   * @param taxonomyVins Comma separated list of 10 letters excert from the 17 letter VIN. The 10 letters to be picked up from the 17 letter VIN are - first 8 letters and the 10th and 11th letter. E.g. For a VIN - 1FTFW1EF3EKE57182 the taxonomy vin would be - 1FTFW1EFEK  A taxonomy VIN identified a build of a car and could be used to filter our cars of a particular build. This is an alternative to the vin or ymmt parameters to the search API.   * @param ymmt Comma separated list of Year, Make, Model, Trim combinations. Each combination needs to have the year,make,model, trim values separated by a pipe &#39;|&#39; character in the form year|make|model|trim. e.g. 2010|Audi|A5,2014|Nissan|Sentra|S 6MT,|Honda|City|   You could just provide strings of the form - &#39;year|make||&#39; or &#39;year|make|model&#39; or &#39;|make|model|&#39; combinations. Individual year / make / model filters provied with the API calls will take precedence over the Year, Make, Model, Trim combinations. The Make, Model, Trim values must be valid values as per the Marketcheck Vin Decoder. If you are using a separate vin decoder then look at using the &#39;vins&#39; or &#39;taxonomy_vins&#39; parameter to the search api instead the year|make|model|trim combinations.   * @param match Comma separated list of Year, Make, Model, Trim fields. For example - year,make,model,trim fields for which user wants to do an exact match   * @param cylinders Cylinders to filter the cars on. Valid filter values are those that our Search facets API returns for unique cylinder values. You can pass in multiple cylinder values comma separated   * @param transmission Transmission to filter the cars on. [a &#x3D; Automatic, m &#x3D; Manual]. Valid filter values are those that our Search facets API returns for unique transmission. You can pass in multiple transmission values comma separated   * @param speeds Speeds to filter the cars on. Valid filter values are those that our Search facets API returns for unique speeds. You can pass in multiple speeds values comma separated   * @param doors Doors to filter the cars on. Valid filter values are those that our Search facets API returns for unique doors. You can pass in multiple doors values comma separated   * @param drivetrain Drivetrain to filter the cars on. Valid filter values are those that our Search facets API returns for unique drivetrains. You can pass in multiple drivetrain values comma separated   * @param exteriorColor Exterior color to match. Valid filter values are those that our Search facets API returns for unique exterior colors. You can pass in multiple exterior color values comma separated   * @param interiorColor Interior color to match. Valid filter values are those that our Search facets API returns for unique interior colors. You can pass in multiple interior color values comma separated   * @param engine Filter listings on engine   * @param engineType Engine Type to match. Valid filter values are those that our Search facets API returns for unique engine types. You can pass in multiple engine type values comma separated   * @param engineAspiration Engine Aspiration to match. Valid filter values are those that our Search facets API returns for unique Engine Aspirations. You can pass in multiple Engine aspirations values comma separated   * @param engineBlock Engine Block to match. Valid filter values are those that our Search facets API returns for unique Engine Block. You can pass in multiple Engine Block values comma separated   * @param milesRange Miles range to filter cars with miles in the given range. Range to be given in the format - min-max e.g. 1000-5000   * @param priceRange Price range to filter cars with the price in the range given. Range to be given in the format - min-max e.g. 1000-5000   * @param domRange Days on Market range to filter cars with the DOM within the given range. Range to be given in the format - min-max e.g. 10-50   * @param sortBy Sort by field - allowed fields are distance|price|miles|dom|age|posted_at|year. Default sort field is distance from the given point   * @param sortOrder Sort order - asc or desc. Default sort order is distance from a point.   * @param rows Number of results to return. Default is 10. Max is 50   * @param start Page number to fetch the results for the given criteria. Default is 1. Pagination is allowed only till first 1000 results for the search and sort criteria. The page value can be only between 1 to 1000/rows   * @param facets The comma separated list of fields for which facets are requested. Supported fields are - year, make, model, trim, vehicle_type, car_type, body_type, body_subtype, drivetrain, cylinders, transmission, exterior_color, interior_color, doors, engine_type, engine_aspiration, engine_block. Facets could be requested in addition to the listings for the search. Please note - The API calls with lots of facet fields may take longer to respond.   * @param stats The list of fields for which stats need to be generated based on the matching listings for the search criteria. Allowed fields are - price, miles, msrp, dom The stats consists of mean, max, average and count of listings based on which the stats are calculated for the field. Stats could be requested in addition to the listings for the search. Please note - The API calls with the stats fields may take longer to respond.   * @param country Filter on Country, by default US. Search available on US (United States) and CA (Canada)   * @param plot If plot has value true results in around 25k coordinates with limited fields to plot respective graph   * @param nodedup If nodedup is set to true then will give results using is_searchable   * @param state Filter listsings on State   * @param city Filter listings on city   * @param dealerName Filter listings on dealer_name   * @param trimO Filter listings on web scraped trim   * @param trimR Filter trim on custom possible matches   * @param domActiveRange Active Days on Market range to filter cars with the DOM within the given range. Range to be given in the format - min-max e.g. 10-50   * @param dom180Range Last 180 Days on Market range to filter cars with the DOM within the given range. Range to be given in the format - min-max e.g. 10-50   * @param options Tokenizer search on options for multiple options use | as seperator   * @param features Tokenizer search on features for multiple options use | as seperator
  */
  public void search (String apiKey, Double latitude, Double longitude, Integer radius, String carType, String sellerType, String year, String make, String model, String trim, String dealerId, String vin, String source, String bodyType, String bodySubtype, String vehicleType, String vins, String taxonomyVins, String ymmt, String match, String cylinders, String transmission, String speeds, String doors, String drivetrain, String exteriorColor, String interiorColor, String engine, String engineType, String engineAspiration, String engineBlock, String milesRange, String priceRange, String domRange, String sortBy, String sortOrder, Integer rows, Integer start, String facets, String stats, String country, String plot, String nodedup, String state, String city, String dealerName, String trimO, String trimR, String domActiveRange, String dom180Range, String options, String features, final Response.Listener<SearchResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;


    // create path and map variables
    String path = "/search".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "api_key", apiKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "radius", radius));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "car_type", carType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "seller_type", sellerType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "year", year));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "make", make));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "model", model));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "trim", trim));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "dealer_id", dealerId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "vin", vin));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "source", source));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "body_type", bodyType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "body_subtype", bodySubtype));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "vehicle_type", vehicleType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "vins", vins));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "taxonomy_vins", taxonomyVins));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ymmt", ymmt));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "match", match));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "cylinders", cylinders));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "transmission", transmission));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "speeds", speeds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "doors", doors));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "drivetrain", drivetrain));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "exterior_color", exteriorColor));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "interior_color", interiorColor));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "engine", engine));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "engine_type", engineType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "engine_aspiration", engineAspiration));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "engine_block", engineBlock));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "miles_range", milesRange));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "price_range", priceRange));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "dom_range", domRange));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sort_by", sortBy));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sort_order", sortOrder));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "rows", rows));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "facets", facets));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "stats", stats));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "country", country));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "plot", plot));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "nodedup", nodedup));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "state", state));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "city", city));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "dealer_name", dealerName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "trim_o", trimO));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "trim_r", trimR));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "dom_active_range", domActiveRange));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "dom_180_range", dom180Range));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "options", options));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "features", features));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SearchResponse) ApiInvoker.deserialize(localVarResponse,  "", SearchResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
